@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab:400,700');

html, body{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
h1{
  font-family: 'Roboto Slab';
  font-weight: 700;
}
#forms-list{
  list-style: none;
}
#forms-list li{
  font-family: 'Roboto Condensed';
  margin: 5px;
  padding: 5px;
}
a{
  text-decoration: none;
  color: #666;
  transition: color 150ms ease-out, filter 150ms ease-out;
}
a:hover{
  color: black;
  filter: drop-shadow(0 0  4px rgba(0,0,0,0.5));
}
