@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
	
	/* Header */
	--header--backgroundcolor: #673A;
	--header--padding: 20px 50px 70px 50px;
	
	/* form */
	--form--backgroundcolor: #EEE;
	--form--top: -70px; /* Same as header padding bottom */
	--form--width: 700px;
	--form--margin: 20px auto;
	--form--padding: 50px 0;
	--form--bordertop--color: #674;
	
		/* input */
		--input--hover--backgroundcolor: #DDD;
		--input--focus--backgroundcolor: #CCC;
	
		/* label */
		--label--color: #999; /* can be used for sidebars too */
		
		/* Sidebar */
		--sidebar--padding: 10px;
		
		/* focusbar properties */
		--focusbar--before-after--width: 524px;
	
	
	
	
	/* font sizes */
	--fs--normal: 16px;
	
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}
.header{
	color: whitesmoke;
	background-color: var(--header--backgroundcolor);
	padding: var(--header--padding);
	text-align: center;
}
.footer{
	height: 100px;
	width: 100%;
	background-color: #CCC;
}
.form-card{
	width: var(--form--width);
	background-color: var(--form--backgroundcolor);
	border-top: 4px solid var(--form--bordertop--color);
	margin: var(--form--margin);
	padding: var(--form--padding); /* do not change this */
	top: var(--form--top);
	text-align: center;
	position: relative;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.sidebar{
	--sidebar--bordercolor: var(--form--backgroundcolor);
	background: none;
	text-align: center;
	padding: var(--sidebar--padding);
	border-right: 4px solid var(--sidebar--bordercolor);
	border-left: 4px solid var(--sidebar--bordercolor);
}

input{
	display: inline block;
	font-size: 16px;
	height: 56px;
	width: 500px;
	background: #DDD;
	border: none;
	border-radius: 10px 10px 0 0;
	padding: 8px 12px 0px 12px;
}
label{
	text-align: left;
	pointer-events: none;
	font-size: 16px;
	display: block;
	color: var(--label--color);
	width: 0;
	background: none;
	position: absolute;
	transition: all 200ms ease-out;
}
label[for="name"]{
	top: 82px;
	left: 100px;
}
label[for="email"]{
	top: 166px;
	left: 100px;
}

/*
input:hover{
	background-color: var(--input--hover--backgroundcolor);
}
*/
input:focus{
	outline: none;
	background-color: var(--input--focus--backgroundcolor);
}
/*
input:valid{
	background: none;
}
*/
input:valid ~ .focusbar::before{
	content: '';
	height: 2px;
	background-color: green;
}
/*
input:invalid ~ .focusbar::before{
	content: '';
	height: 2px;
	background-color: #b22;
}
input:invalid{
	background: #c100001f;
}
*/
#name:focus + label, #name:valid + label {
	top: 70px;
}
#email:focus + label, #email:valid + label {
	top: 153px;
}
input:focus + label{
	font-size: 12px;
	color: blue;
}
input:valid ~ *{
	color: green;
}
/*
input:invalid ~ *{
	color: #b22;
}
*/

.focusbar{
	position: absolute;
}
.focusbar::after, .focusbar::before {
	content: '';
	height: 1px;
	width: var(--focusbar--before-after--width);
	position: absolute;
	left: 74px;
	bottom: 0;
	background-color: #9A9A9A;
}
.focusbar::after{
	height: 2px;
	background-color: blue;
	transform: scalex(0);
	transition: transform 200ms ease-in-out, height 0ms;
}
input:focus ~ .focusbar::after{
	transform: scalex(1);
}

/*
.sidebar:hover{
	animation-name: sidebarcolorchange;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
}
@keyframes sidebarcolorchange{
	20%{
		border-left: 4px solid #EEE;
	}
	100%{
		border-left: 4px solid blue;
	}
}
*/
/* box-shadow */
/*
boxshadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
*/
