@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*
https://www.quackit.com/css/css_color_codes.cfm
https://www.w3schools.com/css/css_colors.asp
*/

:root{
	
	/*fab elements*/
	--fab--color--purple: hsl(263, 71%, 47%); /* #6A36BC / #63C  /d-32% */ 
	--fab--color--green: hsl(150, 74%, 35%); /* #179D59 / #096 */
	--fab--color--orange: hsl(35, 97%, 51%); /* #FB9707 / #F90 */
	
	/* Header */
	/* This will be used to change
	 * the color of the entire form 
	*/
	--header--backgroundcolor: #673A;  /*#673A*/
	--header--padding--bottom: 50px;
	
	/* form */
	--form--top: calc(var(--header--padding--bottom)*(-1)); /* Same as header padding bottom */
	--form--width: 700px;
	--form--margin: 20px auto;
	--form--padding: 50px 0;
	--form--bordertop--color: #674; /*#674*/
	
		/* input */
		--input--hover--backgroundcolor: #D7D7D7;
		--input--focus--backgroundcolor: #D7D7D7;
	
		/* label */
		--label--color: #888; /* can be used for sidebars too */
		
		/* Sidebar */
		--sidebar--padding: 10px;
		
		/* focusbar properties */
		--focusbar--before-after--width: 528px;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	min-width: 360px;
}
body, footer{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
header{
	width: calc(100% - 100px);
	color: whitesmoke;
	background-color: var(--header--backgroundcolor);
	padding: 20px 50px var(--header--padding--bottom) 50px;
	text-align: center;
}
footer{
	height: 100px;
	width: 100%;
	background-color: #CCC;
}

.container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}


.form-card{
	position: relative;
	top: var(--form--top);
	width: var(--form--width);
	padding: var(--form--padding); /* do not change this */
	background-color: #EEE;
	text-align: center;
	border-top: 5px solid var(--form--bordertop--color);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.sidebar{
	--sidebar--bordercolor: #EEE;
	background: none;
	text-align: center;
	padding: var(--sidebar--padding);
	border-right: 4px solid var(--sidebar--bordercolor);
	border-left: 4px solid var(--sidebar--bordercolor);
	transition: border-left-color 150ms 50ms ease-out;
}
.sidebar:hover, .sidebar:focus{
	border-left-color: blue;
}
.colorbtn{
	font-size: 0.92em;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 30px;
	width: 30px;
	padding: 10px;
	color: #000;
	background: #FFF;
	border-radius: 50%;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	z-index: 999;
}
.colorbtn:hover{
	box-shadow: 0 4px 6px -1px rgba(0,0,0,.2), 0 8px 10px 2px rgba(0,0,0,.14), 0 4px 18px 0 rgba(0,0,0,.12);
}
.colorlistitems{
	position: fixed;
	cursor: pointer;
	float: right;
	width: 40px;
	height: 40px;
	margin: 10px;
	border: 3px solid #EFEFEF;
	border-radius: 50%;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	z-index: 990;
}
.colorlistitems:focus{
	outline: none;
}
#purple{
	top: 10px;
	right: 85px;
	background: var(--fab--color--purple); /* #6A3CB6 */
}
#green{
	top: 65px;
	right: 65px;
	background: var(--fab--color--green); /* #179d59 */
}
#orange{
	top: 85px;
	right: 10px;
	background: var(--fab--color--orange); /* #FB9707 */
}

input{
	font-size: 16px;
	height: 56px;
	width: 75%;
	background: #E0E0E0;
	border: none;
	border-radius: 8px 8px 0 0;
	padding: 8px 12px 0px 12px;
	display: inline block;
}
label{
	position: absolute;
	left: 100px;
	width: 0;
	color: var(--label--color);
	background: none;
	font-size: 16px;
	text-align: left;
	pointer-events: none;
	
	display: block;
	transition: all 200ms ease-out;
}
label[for="name"]{
	top: 82px;
}
label[for="email"]{
	top: 166px;
}

input:hover{
	background-color: var(--input--hover--backgroundcolor);
}
input:focus{
	outline: none;
	background-color: var(--input--focus--backgroundcolor);
}
input:valid{
	background: none;
}
input:focus + label, input:valid + label{
	left: 98px;
	font-size: 12px;
	color: blue;
}
#name:focus + label, #name:valid + label {
	top: 70px;
}
#email:focus + label, #email:valid + label {
	top: 154px;
}


.focusbar{
	position: absolute;
}
.focusbar::after, .focusbar::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 72px;
	height: 1px;
	width: var(--focusbar--before-after--width);
	background-color: #9A9A9A;
}
.focusbar::after{
	height: 2px;
	background-color: blue;
	transform: scalex(0);
	transition: transform 200ms cubic-bezier(.5,0,.15,1), height 0ms;
}
input:focus ~ .focusbar::after{
	transform: scalex(1);
}

/*
.sidebar:hover{
	animation-name: sidebarcolorchange;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
}
@keyframes sidebarcolorchange{
	20%{
		border-left: 4px solid #EEE;
	}
	100%{
		border-left: 4px solid blue;
	}
}
*/
/* box-shadow */
/*
boxshadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
*/

@media(max-width: 800px){
	.form-card{
		width: 600px;
	}
	input{
		width: 80%;
		height: 48px;
	}
	.focusbar::before, .focusbar::after{
		left: 45px;
		width: 480px;
	}
	label{
		left: 72px;
	}
	label[for="name"]{
		top: 80px;
	}
	label[for="email"]{
		top: 155px;
	}
	input:focus + label, input:valid + label{
		left: 70px;
	}
	#name:focus + label, #name:valid + label {
		top: 68px;
	}
	#email:focus + label, #email:valid + label {
		top: 144px;
	}
}

@media(max-width: 640px){
	.form-card{
		width: 500px;
	}
	input{
		height: 44px;
	}
	.focusbar::before, .focusbar::after{
		left: 36px;
		width: 400px;
	}
	label{
		left: 64px;
	}
	label[for="name"]{
		top: 77px;
	}
	label[for="email"]{
		top: 148px;
	}
	input:focus + label, input:valid + label{
		left: 60px;
	}
	#name:focus + label, #name:valid + label {
		top: 66px;
	}
	#email:focus + label, #email:valid + label {
		top: 137px;
	}
}

@media(max-width: 560px){
	.form-card{
		width: 400px;
	}
	input{
		width: 80%;
		height: 40px;
	}
	.focusbar::before, .focusbar::after{
		left: 25px;
		width: 322px;
	}
	label{
		left: 52px;
	}
	label[for="name"]{
		top: 75px;
	}
	label[for="email"]{
		top: 143px;
	}
	input:focus + label, input:valid + label{
		left: 50px;
	}
	#name:focus + label, #name:valid + label {
		top: 64px;
	}
	#email:focus + label, #email:valid + label {
		top: 132px;
	}
}

@media(max-width: 480px){
	.form-card{
		width: 340px;
	}
	input{
		font-size: 12px;
		width: 80%;
		height: 36px;
	}
	.focusbar::before, .focusbar::after{
		left: 19px;
		width: 274px;
	}
	label{
		font-size: 13px;
		left: 46px;
	}
	label[for="name"]{
		top: 75px;
	}
	label[for="email"]{
		top: 140px;
	}
	input:focus + label, input:valid + label{
		font-size: 10px;
		left: 45px;
	}
	#name:focus + label, #name:valid + label {
		top: 64px;
	}
	#email:focus + label, #email:valid + label {
		top: 129px;
	}
}

@media(max-width: 400px){
	.form-card{
		width: 320px;
	}
	input{
		font-size: 12px;
		width: 80%;
		height: 36px;
	}
	.focusbar::before, .focusbar::after{
		left: 17px;
		width: 258px;
	}
	label{
		font-size: 13px;
		left: 46px;
	}
	label[for="name"]{
		top: 75px;
	}
	label[for="email"]{
		top: 140px;
	}
	input:focus + label, input:valid + label{
		font-size: 10px;
		left: 45px;
	}
	#name:focus + label, #name:valid + label {
		top: 64px;
	}
	#email:focus + label, #email:valid + label {
		top: 129px;
	}
}
